<h1>¿Que son las pulsaciones?</h1>
<img src="./assets/pulsaciones.jpg" alt="Esta es una imagen de ejemplo." width="400" height="300" />
<p>
  <br />
  Cuando se habla del pulso nos referimos al número de latidos por minuto del corazón,
  que son las veces que se contrae éste durante ese periodo. En más de una ocasión te habrás preguntado cuántas pulsaciones hay que tener en reposo
  La cifra adecuada ronda entre las 50 y 100 por minuto, pero hay una serie de factores que puedan modificar este número
  <a href="https://okdiario.com/salud/pulsaciones-normales-reposo-2763531">
      Ok, Diario de España.
  </a>
</p>
<p>
  En reposo, la frecuencia cardíaca de un adulto suele estar en los 60 y los 100 latidos por minuto; durante el ejercicio físico, estos valores pueden
  aumentar hasta los 200 latidos por minuto. En oposición a la frecuencia cardíaca en reposo se encuentra la frecuencia cardíaca máxima, un límite teórico
  que orienta acerca del máximo de pulsaciones que nuestro organismo puede alcanzar sin que nuestra salud se vea afectada.

  Todos los valores, aun así, son meramente orientativos ya que la frecuencia siempre dependerá no sólo de la edad, el peso, el sexo o la frecuencia de la
  práctica deportiva, sino también de las condiciones ambientales, la postura o el estado psicológico.
</p>

<h2>
  Pulsaciones "normales" en reposo por rango de edad.
</h2>
<p>
  Según la <a href="http://www.fac.org.ar/index.php">Federación Argentina de Cardiología</a>, citada por la
  <a href="https://revistadigital.inesem.es/biosanitario/pulsaciones/">Revista Digital INESEM</a>, los valores normales en reposo serían los siguientes:

</p>

<ul>
  <li>Recién nacidos de 0 a 1 mes de edad: 70 a 190 latidos por minuto.</li>
  <li>Bebés de 1 a 11 meses de edad: 80 a 160 latidos por minuto.</li>
  <li>Niños de 1 a 2 años de edad: 80 a 130 latidos por minuto.</li>
  <li>Niños de 3 a 4 años de edad: 80 a 120 latidos por minuto.</li>
  <li>Niños de 5 a 6 años de edad: 75 a 115 latidos por minuto.</li>
  <li>Niños de 10 años o más y personas adultas: 60 a 100 latidos por minuto.</li>
  <li>Atletas bien entrenados: de 40 a 60 latidos por minuto.</li>

</ul>

<h2>¿Cómo calcular nuestra frecuencia cardíaca máxima?</h2>
<p>
  Existe una fórmula “casera” para calcular nuestra frecuencia cardíaca máxima, aunque se trata de una ecuación con limitaciones porque se creó en base a
  sujetos de menos de 55 años. Pero, sabiendo esto, puede resultar interesante como orientación o guía. Para calcularla, en el caso de las mujeres, tan solo hay que restar la edad
  a 220 ( FCmáx = 220 – la edad de la femina) y para los hombres, debemos restar 210 ( FCmáx = 210 – la edad del sujeto).
</p>
<h2>¿Como calcular las pulsaciones por segundos?</h2>
<p>Si queremos calcular nuestras pulsaciones por segundos, simplemente utilizamos las siguintes ecuaciones: </p>
<ul>
  <li>Mujeres: 220-edad/numero de segundos</li>
  <li>Hombres: 210-edad/numero de segundos</li>
</ul>
<p><i>¿Quieres calcular tus pulsaciones por cada 10 segundos? Hazlo pulsando <a href="http://localhost:50686/FormularioPulsaciones.html"><b>AQUI</b>.</a></i></p>